# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

.vercel

package-lock.json
bun.lockb
yarn.lock

# ide
.idea
*.iml

cache/

#My Config
public\images\albums\AcgExample\*
public\images\albums\ExternalExample\*
public\images\albums\HiddenExample\*

src\content\posts\guide
src\content\posts\guide\*
src\content\posts\draft.md
src\content\posts\encrypted-post.md
src\content\posts\markdown-extended.md
src\content\posts\markdown-mermaid.md
src\content\posts\markdown-tutorial.md
src\content\posts\video.md